{% extends "auctions/layout.html" %}
{% block body %}
{% load static %}
<h1> {{ name }}</h1>


<div class="center">
 
   

    <div class="left-detail">
       
    {% if user.is_authenticated and user.pk == listing.winner and listing.active == 0 %}
    <h2 style="color:#4CD4CB;">Congrats {{user}}! you just win the auction!</h2>
    {% endif %}
        <h1>{{listing.name}}</h1>
        <div class="row">
        <div class="col">
        
        <div class="row-detail" >
            <div class="col-xs-9 col-md-7">
                {% if listing.image %}
                <img src="{{ listing.image.url}}" style="max-height:300px" alt="{{ name }}">
                {% endif %}
           
            
            
                {{listing.description}}
                
                <p>{{listing.category}} Category </p>
                
       
            
                {% if user.is_authenticated %}
                {% if listing.active == 1 %}
                    
                    <form action="{% url 'watchcreate' pk=listing.id %}" method="post">
                        {% csrf_token %}
                        
                        <input type="hidden"  name="product" value={{listing.pk}}>
                        <input type="hidden"  name="owner" value={{user.pk}}>
                        <input type="hidden"  name="product_title" value={{listing.name}}>
    
                        <input class="btn btn-primary" type="submit" value="Watchlist">
                    </form>
                  
                       
                        {% endif %}
                        
                        {% endif %}
                <h3>Price: {{listing.initial_price}}.-</h3>
                {% if user.is_authenticated %}
                {% if listing.active == 1 %}
                <form action="{% url 'bidcreate' pk=listing.id %}" method="post">
                    {% csrf_token %}
                        {{ form.initial_price.errors }}
      
                        {{ form.initial_price }}
                        
                   
                    <input type="text" name="bid" class="form-control" value={{listing.initial_price}}  placeholder="Your Bid" required>
                    <input type="hidden"  name="owner" value={{user.pk}}>
                    

                    <input class="btn btn-primary" type="submit" value="Place a Bid">
                </form>
            
                {% if user.is_authenticated and user == listing.user %}
                <form action="{% url 'auctionclose' pk=listing.id %}" method="post">
                    {% csrf_token %}
                     
                        
                    <input type="hidden"  name="owner" value={{user.pk}}>
                    

                    <input class="btn btn-danger" type="submit" value="Close the auction">
                </form>
                {% endif %}
                {% endif %}
                {% endif %}
                
        
                <p>Create on the  {{listing.date}} by {{listing.user}}</p>
                {% if listing.active == 0 %}
            
                <h2 style="color:red;">Closed</h2>
                {% endif %}
        </div>
  
    </div>
        
          
        </div>

                  <div class="col-sm">
                    <div class="row-detail">
                        
                        <h3>Comments</h3>
                        
                        <div class="card" >
                           
                            {% for comment in listing.comment.all %}
                            <div class="card-body">
                              <h5 class="card-title">{{ comment.content }}</h5>
                              <p class="card-text">Wrote by {{ comment.author }}  the {{comment.date}}</p>
                            </div>
                            {% endfor %}
                          </div>
                      
                           
                        </div>
                    {% if user.is_authenticated %}
                    <form action="{% url 'addcomment' pk=listing.id %}" method="post">
                        {% csrf_token %}
                         
                        <input class="form-control" name="comment" type="text" placeholder="Your message">
                        <input type="hidden"  name="owner" value={{user.pk}}>
                        <input type="hidden"  name="author" value={{user}}>
                        
    
                        <input class="btn btn-success" type="submit" value="Add comment">
                    </form>
                    
                  </div>
               
            {% endif %}           
           
        
               
   


{% endblock %}